## Import Libraries

In [371]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [223]:
import joblib

In [391]:
import warnings

## Read all Data

In [536]:
standings = pd.read_csv('data/2024_standings.csv')

In [537]:
all_data = pd.read_csv('data/standings.csv')

In [538]:
%store -r og_data

In [539]:
og_data

,team_one_rank,team_two_rank,rank_one,overall_wins_one,overall_losses_one,overall_win_loss_percentage_one,conference_wins_one,conference_losses_one,conference_win_loss_percentage_one,own_points_per_game_one,...,team_one_Connecticut,team_two_Wagner,team_one_North Carolina,team_two_Duquesne,team_one_Brigham Young,team_two_Stetson,team_one_McNeese State,team_one_Grand Canyon,team_two_Brigham Young,team_two_North Carolina
0,1,16,2.0,35.0,3.0,0.921,14.0,2.0,0.875,74.0,...,0,0,0,0,0,0,0,0,0,0
1,1,8,2.0,35.0,3.0,0.921,14.0,2.0,0.875,74.0,...,0,0,0,0,0,0,0,0,0,0
2,1,4,2.0,35.0,3.0,0.921,14.0,2.0,0.875,74.0,...,0,0,0,0,0,0,0,0,0,0
3,1,2,2.0,35.0,3.0,0.921,14.0,2.0,0.875,74.0,...,0,0,0,0,0,0,0,0,0,0
4,3,2,2.0,26.0,9.0,0.743,12.0,6.0,0.667,68.2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859,3,14,1.0,31.0,6.0,0.838,14.0,2.0,0.875,85.2,...,0,0,0,0,0,0,0,0,0,0
1860,3,2,1.0,31.0,6.0,0.838,14.0,2.0,0.875,85.2,...,0,0,0,0,0,0,0,0,0,0
1861,7,2,3.0,22.0,12.0,0.647,12.0,8.0,0.600,67.7,...,0,0,0,0,0,0,0,0,0,0
1862,7,10,3.0,22.0,12.0,0.647,12.0,8.0,0.600,67.7,...,0,0,0,0,0,0,0,0,0,0
1863,2,15,1.0,31.0,6.0,0.838,18.0,2.0,0.900,74.1,...,0,0,0,0,0,0,0,0,0,0

In [540]:
bracket = pd.read_csv('data/2024_tournament.csv')

In [541]:
bracket

,year,bracket,round,location,team_one_rank,team_one,team_two_rank,team_two
0,2024,East,First Round,"Brooklyn, NY",1,Connecticut,16,Stetson
1,2024,East,First Round,"Brooklyn, NY",8,Florida Atlantic,9,Northwestern
2,2024,East,First Round,"Spokane, WA",5,San Diego State,12,UAB
3,2024,East,First Round,"Spokane, WA",4,Auburn,13,Yale
4,2024,East,First Round,"Omaha, NE",6,Brigham Young,11,Duquesne
5,2024,East,First Round,"Omaha, NE",3,Illinois,14,Morehead State
6,2024,East,First Round,"Omaha, NE",7,Washington State,10,Drake
7,2024,East,First Round,"Omaha, NE",2,Iowa State,15,South Dakota State
8,2024,Midwest,First Round,"Indianapolis, IN",1,Purdue,16,Grambling
9,2024,Midwest,First Round,"Indianapolis, IN",8,Utah State,9,TCU
10,2024,Midwest,First Round,"Salt Lake City, UT",5,Gonzaga,12,McNeese State
11,2024,Midwest,First Round,"Salt Lake City, UT",4,Kansas,13,Samford
12,2024,Midwest,First Round,"Pittsburgh, PA",6,South Carolina,11,Oregon
13,2024,Midwest,First Round,"Pittsburgh, PA",3,Creighton,14,Akron
14,2024,Midwest,First Round,"Charlotte, NC",7,Texas,10,Colorado State
15,2024,Midwest,First Round,"Charlotte, NC",2,Tennessee,15,Saint Peter's
16,2024,South,First Round,"Memphis, TN",1,Houston,16,Longwood
17,2024,South,First Round,"Memphis, TN",8,Nebraska,9,Texas A&M
18,2024,South,First Round,"Brooklyn, NY",5,Wisconsin,12,James Madison
19,2024,South,First Round,"Brooklyn, NY",4,Duke,13,Vermont
20,2024,South,First Round,"Pittsburgh, PA",6,Texas Tech,11,NC State
21,2024,South,First Round,"Pittsburgh, PA",3,Kentucky,14,Oakland
22,2024,South,First Round,"Indianapolis, IN",7,Florida,10,Boise State
23,2024,South,First Round,"Indianapolis, IN",2,Marquette,15,Western Kentucky
24,2024,West,First Round,"Charlotte, NC",1,North Carolina,16,Wagner
25,2024,West,First Round,"Charlotte, NC",8,Mississippi State,9,Michigan State
26,2024,West,First Round,"Spokane, WA",5,Saint Mary's (CA),12,Grand Canyon
27,2024,West,First Round,"Spokane, WA",4,Alabama,13,College of Charleston
28,2024,West,First Round,"Memphis, TN",6,Clemson,11,New Mexico
29,2024,West,First Round,"Memphis, TN",3,Baylor,14,Colgate
30,2024,West,First Round,"Salt Lake City, UT",7,Dayton,10,Nevada
31,2024,West,First Round,"Salt Lake City, UT",2,Arizona,15,Long Beach State

## Merge Data

In [542]:
data = pd.merge(bracket, standings, left_on=['team_one', 'year'], right_on=['team', 'year']).drop(['team'], axis=1)

In [543]:
data = pd.merge(data, standings, left_on=['team_two', 'year'], right_on=['team', 'year'], suffixes=('_one', '_two')).drop(['team'], axis=1)

In [544]:
#data[data['bracket'] == 'Midwest']#.isna().sum()

In [545]:
data

,year,bracket,round,location,team_one_rank,team_one,team_two_rank,team_two,conference_one,rank_one,...,conference_losses_two,conference_win_loss_percentage_two,own_points_per_game_two,opp_points_per_game_two,strength_of_schedule_two,simple_rating_system_two,ap_pre_two,ap_high_two,ap_final_two,conference_tournament_champion_two
0,2024,East,First Round,"Brooklyn, NY",1,Connecticut,16,Stetson,Big East,1,...,5.0,0.688,74.5,75.1,-4.51,-3.87,26.0,26.0,26.0,True
1,2024,East,First Round,"Brooklyn, NY",8,Florida Atlantic,9,Northwestern,AAC,2,...,8.0,0.600,73.7,69.0,12.74,8.06,26.0,25.0,26.0,False
2,2024,East,First Round,"Spokane, WA",5,San Diego State,12,UAB,MWC,5,...,6.0,0.667,77.4,75.8,5.20,3.62,26.0,26.0,26.0,True
3,2024,East,First Round,"Spokane, WA",4,Auburn,13,Yale,SEC,2,...,3.0,0.786,73.6,68.1,4.80,-0.61,26.0,26.0,26.0,True
4,2024,East,First Round,"Omaha, NE",6,Brigham Young,11,Duquesne,Big 12,5,...,8.0,0.556,70.1,66.6,7.52,4.05,26.0,26.0,26.0,True
5,2024,East,First Round,"Omaha, NE",3,Illinois,14,Morehead State,Big Ten,2,...,4.0,0.778,72.4,65.7,0.69,-6.08,26.0,26.0,26.0,True
6,2024,East,First Round,"Omaha, NE",7,Washington State,10,Drake,Pac-12,2,...,4.0,0.800,80.3,70.6,11.19,1.53,26.0,26.0,26.0,True
7,2024,East,First Round,"Omaha, NE",2,Iowa State,15,South Dakota State,Big 12,2,...,4.0,0.750,75.5,71.6,0.71,-3.16,26.0,26.0,26.0,True
8,2024,Midwest,First Round,"Indianapolis, IN",1,Purdue,16,Grambling,Big Ten,1,...,4.0,0.778,65.1,68.9,-10.17,-6.43,26.0,26.0,26.0,True
9,2024,Midwest,First Round,"Indianapolis, IN",8,Utah State,9,TCU,MWC,1,...,9.0,0.500,79.2,71.2,15.66,7.66,26.0,19.0,26.0,False
10,2024,Midwest,First Round,"Salt Lake City, UT",5,Gonzaga,12,McNeese State,WCC,2,...,1.0,0.944,78.4,64.0,7.15,-7.26,26.0,26.0,26.0,True
11,2024,Midwest,First Round,"Salt Lake City, UT",4,Kansas,13,Samford,Big 12,6,...,3.0,0.833,84.3,74.4,6.25,-3.72,26.0,26.0,26.0,True
12,2024,Midwest,First Round,"Pittsburgh, PA",6,South Carolina,11,Oregon,SEC,3,...,8.0,0.600,75.3,71.9,12.25,8.78,26.0,26.0,26.0,True
13,2024,Midwest,First Round,"Pittsburgh, PA",3,Creighton,14,Akron,Big East,3,...,5.0,0.722,72.3,66.8,3.01,-2.52,26.0,26.0,26.0,True
14,2024,Midwest,First Round,"Charlotte, NC",7,Texas,10,Colorado State,Big 12,8,...,8.0,0.556,75.1,69.0,13.46,7.37,26.0,13.0,26.0,False
15,2024,Midwest,First Round,"Charlotte, NC",2,Tennessee,15,Saint Peter's,SEC,1,...,8.0,0.600,65.1,63.2,-4.13,-6.00,26.0,26.0,26.0,True
16,2024,South,First Round,"Memphis, TN",1,Houston,16,Longwood,Big 12,1,...,10.0,0.375,73.8,69.7,-1.48,-5.58,26.0,26.0,26.0,True
17,2024,South,First Round,"Memphis, TN",8,Nebraska,9,Texas A&M,Big Ten,3,...,9.0,0.500,74.8,70.8,13.04,9.07,15.0,12.0,26.0,False
18,2024,South,First Round,"Brooklyn, NY",5,Wisconsin,12,James Madison,Big Ten,5,...,3.0,0.833,83.0,69.5,8.67,-4.81,26.0,18.0,26.0,True
19,2024,South,First Round,"Brooklyn, NY",4,Duke,13,Vermont,ACC,2,...,1.0,0.938,70.7,63.8,2.91,-3.90,26.0,26.0,26.0,True
20,2024,South,First Round,"Pittsburgh, PA",6,Texas Tech,11,NC State,Big 12,4,...,11.0,0.450,76.4,72.7,11.56,7.89,26.0,26.0,26.0,True
21,2024,South,First Round,"Pittsburgh, PA",3,Kentucky,14,Oakland,SEC,4,...,5.0,0.750,76.4,72.9,1.60,-1.90,26.0,26.0,26.0,True
22,2024,South,First Round,"Indianapolis, IN",7,Florida,10,Boise State,SEC,6,...,5.0,0.722,74.3,67.9,13.82,7.42,26.0,26.0,26.0,False
23,2024,South,First Round,"Indianapolis, IN",2,Marquette,15,Western Kentucky,Big East,2,...,8.0,0.500,79.1,74.3,1.43,-3.40,26.0,26.0,26.0,True
24,2024,West,First Round,"Charlotte, NC",1,North Carolina,16,Wagner,ACC,1,...,9.0,0.438,61.7,63.0,-10.87,-9.52,26.0,26.0,26.0,True
25,2024,West,First Round,"Charlotte, NC",8,Mississippi State,9,Michigan State,SEC,9,...,10.0,0.500,73.1,65.9,17.89,10.71,4.0,4.0,26.0,False
26,2024,West,First Round,"Spokane, WA",5,Saint Mary's (CA),12,Grand Canyon,WCC,1,...,3.0,0.850,78.4,66.7,10.02,-1.70,26.0,26.0,26.0,True
27,2024,West,First Round,"Spokane, WA",4,Alabama,13,College of Charleston,SEC,5,...,3.0,0.833,80.0,72.9,4.19,-2.87,26.0,26.0,26.0,True
28,2024,West,First Round,"Memphis, TN",6,Clemson,11,New Mexico,ACC,5,...,8.0,0.556,81.6,71.0,16.01,5.45,26.0,19.0,26.0,True
29,2024,West,First Round,"Memphis, TN",3,Baylor,14,Colgate,Big 12,3,...,2.0,0.889,70.2,64.0,0.06,-6.09,26.0,26.0,26.0,True
30,2024,West,First Round,"Salt Lake City, UT",7,Dayton,10,Nevada,A-10,3,...,5.0,0.722,75.9,67.3,13.36,4.74,26.0,26.0,26.0,False
31,2024,West,First Round,"Salt Lake City, UT",2,Arizona,15,Long Beach State,Pac-12,1,...,10.0,0.500,76.5,75.9,-0.99,-1.59,26.0,26.0,26.0,True

In [546]:
data['conference_tournament_champion_one'] = (data['conference_tournament_champion_one'] == True).astype(int)

In [547]:
data['conference_tournament_champion_two'] = (data['conference_tournament_champion_two'] == True).astype(int)

## First Round Predictions

In [548]:
first_round_data = data.copy()

In [549]:
data = pd.get_dummies(data).drop(['year'], axis=1)

In [550]:
warnings.filterwarnings('ignore')

missing_cols = list(set(list(og_data.columns)) - set(list(data.columns)))
for c in missing_cols:
    data[c] = 0

In [551]:
additional_cols = list(set(list(data.columns)) - set(list(og_data.columns)))
additional_cols

[]

In [552]:
loaded_model = joblib.load('final_model.pkl')

In [553]:
warnings.filterwarnings('ignore')

first_round = loaded_model.predict(data)

In [554]:
data['team_one_wins'] = first_round

In [555]:
for i in range(len(data)):
    if data.iloc[i]['team_one_wins']:
        print(first_round_data.iloc[i]['team_one'])
    else:
        print(first_round_data.iloc[i]['team_two'])

Connecticut
Florida Atlantic
San Diego State
Auburn
Brigham Young
Illinois
Washington State
Iowa State
Purdue
Utah State
McNeese State
Kansas
South Carolina
Creighton
Texas
Tennessee
Houston
Nebraska
Wisconsin
Duke
Texas Tech
Kentucky
Boise State
Marquette
North Carolina
Mississippi State
Grand Canyon
College of Charleston
New Mexico
Baylor
Dayton
Arizona

## Second Round

In [556]:
def add_team(round_data, bracket, round_, location, team_one_rank, team_one, team_two_rank, team_two):
    round_data.append({
        'bracket': bracket,
        'round': round_,
        'location': location,
        'team_one_rank': team_one_rank,
        'team_one': team_one,
        'team_two_rank': team_two_rank,
        'team_two': team_two
    })

In [557]:
second_round_data = []

add_team(second_round_data, 'East', 'Second Round', 'Brooklyn, NY', 1, 'Connecticut', 8, 'Florida Atlantic')
add_team(second_round_data, 'East', 'Second Round', 'Spokane, WA', 5, 'San Diego State', 4, 'Auburn')
add_team(second_round_data, 'East', 'Second Round', 'Omaha, NE', 6, 'Brigham Young', 3, 'Illinois')
add_team(second_round_data, 'East', 'Second Round', 'Omaha, NE', 7, 'Washington State', 3, 'Iowa State')

add_team(second_round_data, 'Midwest', 'Second Round', 'Indianapolis, IN', 1, 'Purdue', 8, 'Utah State')
add_team(second_round_data, 'Midwest', 'Second Round', 'Salt Lake City, UT', 12, 'McNeese State', 4, 'Kansas')
add_team(second_round_data, 'Midwest', 'Second Round', 'Pittsburgh, PA', 6, 'South Carolina', 3, 'Creighton')
add_team(second_round_data, 'Midwest', 'Second Round', 'Charlotte, NC', 7, 'Texas', 2, 'Tennessee')

add_team(second_round_data, 'South', 'Second Round', 'Memphis, TN', 1, 'Houston', 8, 'Nebraska')
add_team(second_round_data, 'South', 'Second Round', 'Brooklyn, NY', 5, 'Wisconsin', 4, 'Duke')
add_team(second_round_data, 'South', 'Second Round', 'Pittsburgh, PA', 6, 'Texas Tech', 3, 'Kentucky')
add_team(second_round_data, 'South', 'Second Round', 'Indianapolis, IN', 10, 'Boise State', 2, 'Marquette')

add_team(second_round_data, 'West', 'Second Round', 'Charlotte, NC', 1, 'North Carolina', 8, 'Mississippi State')
add_team(second_round_data, 'West', 'Second Round', 'Spokane, WA', 12, 'Grand Canyon', 13, 'College of Charleston')
add_team(second_round_data, 'West', 'Second Round', 'Memphis, TN', 11, 'New Mexico', 3, 'Baylor')
add_team(second_round_data, 'West', 'Second Round', 'Salt Lake City, UT', 7, 'Dayton', 2, 'Arizona')

In [558]:
second_round_data

[{'bracket': 'East',
  'round': 'Second Round',
  'location': 'Brooklyn, NY',
  'team_one_rank': 1,
  'team_one': 'Connecticut',
  'team_two_rank': 8,
  'team_two': 'Florida Atlantic'},
 {'bracket': 'East',
  'round': 'Second Round',
  'location': 'Spokane, WA',
  'team_one_rank': 5,
  'team_one': 'San Diego State',
  'team_two_rank': 4,
  'team_two': 'Auburn'},
 {'bracket': 'East',
  'round': 'Second Round',
  'location': 'Omaha, NE',
  'team_one_rank': 6,
  'team_one': 'Brigham Young',
  'team_two_rank': 3,
  'team_two': 'Illinois'},
 {'bracket': 'East',
  'round': 'Second Round',
  'location': 'Omaha, NE',
  'team_one_rank': 7,
  'team_one': 'Washington State',
  'team_two_rank': 3,
  'team_two': 'Iowa State'},
 {'bracket': 'Midwest',
  'round': 'Second Round',
  'location': 'Indianapolis, IN',
  'team_one_rank': 1,
  'team_one': 'Purdue',
  'team_two_rank': 8,
  'team_two': 'Utah State'},
 {'bracket': 'Midwest',
  'round': 'Second Round',
  'location': 'Salt Lake City, UT',
  'team_one_rank': 12,
  'team_one': 'McNeese State',
  'team_two_rank': 4,
  'team_two': 'Kansas'},
 {'bracket': 'Midwest',
  'round': 'Second Round',
  'location': 'Pittsburgh, PA',
  'team_one_rank': 6,
  'team_one': 'South Carolina',
  'team_two_rank': 3,
  'team_two': 'Creighton'},
 {'bracket': 'Midwest',
  'round': 'Second Round',
  'location': 'Charlotte, NC',
  'team_one_rank': 7,
  'team_one': 'Texas',
  'team_two_rank': 2,
  'team_two': 'Tennessee'},
 {'bracket': 'South',
  'round': 'Second Round',
  'location': 'Memphis, TN',
  'team_one_rank': 1,
  'team_one': 'Houston',
  'team_two_rank': 8,
  'team_two': 'Nebraska'},
 {'bracket': 'South',
  'round': 'Second Round',
  'location': 'Brooklyn, NY',
  'team_one_rank': 5,
  'team_one': 'Wisconsin',
  'team_two_rank': 4,
  'team_two': 'Duke'},
 {'bracket': 'South',
  'round': 'Second Round',
  'location': 'Pittsburgh, PA',
  'team_one_rank': 6,
  'team_one': 'Texas Tech',
  'team_two_rank': 3,
  'team_two': 'Kentucky'},
 {'bracket': 'South',
  'round': 'Second Round',
  'location': 'Indianapolis, IN',
  'team_one_rank': 10,
  'team_one': 'Boise State',
  'team_two_rank': 2,
  'team_two': 'Marquette'},
 {'bracket': 'West',
  'round': 'Second Round',
  'location': 'Charlotte, NC',
  'team_one_rank': 1,
  'team_one': 'North Carolina',
  'team_two_rank': 8,
  'team_two': 'Mississippi State'},
 {'bracket': 'West',
  'round': 'Second Round',
  'location': 'Spokane, WA',
  'team_one_rank': 12,
  'team_one': 'Grand Canyon',
  'team_two_rank': 13,
  'team_two': 'College of Charleston'},
 {'bracket': 'West',
  'round': 'Second Round',
  'location': 'Memphis, TN',
  'team_one_rank': 11,
  'team_one': 'New Mexico',
  'team_two_rank': 3,
  'team_two': 'Baylor'},
 {'bracket': 'West',
  'round': 'Second Round',
  'location': 'Salt Lake City, UT',
  'team_one_rank': 7,
  'team_one': 'Dayton',
  'team_two_rank': 2,
  'team_two': 'Arizona'}]

In [559]:
second_round_data = pd.DataFrame(second_round_data)
second_round_data

,bracket,round,location,team_one_rank,team_one,team_two_rank,team_two
0,East,Second Round,"Brooklyn, NY",1,Connecticut,8,Florida Atlantic
1,East,Second Round,"Spokane, WA",5,San Diego State,4,Auburn
2,East,Second Round,"Omaha, NE",6,Brigham Young,3,Illinois
3,East,Second Round,"Omaha, NE",7,Washington State,3,Iowa State
4,Midwest,Second Round,"Indianapolis, IN",1,Purdue,8,Utah State
5,Midwest,Second Round,"Salt Lake City, UT",12,McNeese State,4,Kansas
6,Midwest,Second Round,"Pittsburgh, PA",6,South Carolina,3,Creighton
7,Midwest,Second Round,"Charlotte, NC",7,Texas,2,Tennessee
8,South,Second Round,"Memphis, TN",1,Houston,8,Nebraska
9,South,Second Round,"Brooklyn, NY",5,Wisconsin,4,Duke
10,South,Second Round,"Pittsburgh, PA",6,Texas Tech,3,Kentucky
11,South,Second Round,"Indianapolis, IN",10,Boise State,2,Marquette
12,West,Second Round,"Charlotte, NC",1,North Carolina,8,Mississippi State
13,West,Second Round,"Spokane, WA",12,Grand Canyon,13,College of Charleston
14,West,Second Round,"Memphis, TN",11,New Mexico,3,Baylor
15,West,Second Round,"Salt Lake City, UT",7,Dayton,2,Arizona

In [560]:
data = second_round_data.copy()

In [561]:
data = pd.get_dummies(data)

In [562]:
warnings.filterwarnings('ignore')

missing_cols = list(set(list(og_data.columns)) - set(list(data.columns)))
for c in missing_cols:
    data[c] = 0

In [563]:
additional_cols = list(set(list(data.columns)) - set(list(og_data.columns)))
additional_cols

[]

In [564]:
warnings.filterwarnings('ignore')

second_round = loaded_model.predict(data)

In [565]:
data['team_one_wins'] = second_round

In [566]:
for i in range(len(data)):
    if data.iloc[i]['team_one_wins']:
        print(second_round_data.iloc[i]['team_one'])
    else:
        print(second_round_data.iloc[i]['team_two'])

Connecticut
San Diego State
Brigham Young
Washington State
Purdue
McNeese State
South Carolina
Texas
Houston
Wisconsin
Texas Tech
Boise State
North Carolina
Grand Canyon
New Mexico
Dayton

## Sweet Sixteen

In [567]:
sweet_sixteen_data = []

add_team(sweet_sixteen_data, 'East', 'Sweet Sixteen', 'Boston, MA', 1, 'Connecticut', 5, 'San Diego State')
add_team(sweet_sixteen_data, 'East', 'Sweet Sixteen', 'Boston, MA', 6, 'Brigham Young', 7, 'Washington State')

add_team(sweet_sixteen_data, 'Midwest', 'Sweet Sixteen', 'Detroit, MI', 1, 'Purdue', 12, 'McNeese State')
add_team(sweet_sixteen_data, 'Midwest', 'Sweet Sixteen', 'Detroit, MI', 6, 'South Carolina', 7, 'Texas')

add_team(sweet_sixteen_data, 'South', 'Sweet Sixteen', 'Dallas, TX', 1, 'Houston', 5, 'Wisconsin')
add_team(sweet_sixteen_data, 'South', 'Sweet Sixteen', 'Dallas, TX', 6, 'Texas Tech', 10, 'Boise State')

add_team(sweet_sixteen_data, 'West', 'Sweet Sixteen', 'Los Angeles, CA', 1, 'North Carolina', 12, 'Grand Canyon')
add_team(sweet_sixteen_data, 'West', 'Sweet Sixteen', 'Los Angeles, CA', 11, 'New Mexico', 7, 'Dayton')

In [568]:
sweet_sixteen_data

[{'bracket': 'East',
  'round': 'Sweet Sixteen',
  'location': 'Boston, MA',
  'team_one_rank': 1,
  'team_one': 'Connecticut',
  'team_two_rank': 5,
  'team_two': 'San Diego State'},
 {'bracket': 'East',
  'round': 'Sweet Sixteen',
  'location': 'Boston, MA',
  'team_one_rank': 6,
  'team_one': 'Brigham Young',
  'team_two_rank': 7,
  'team_two': 'Washington State'},
 {'bracket': 'Midwest',
  'round': 'Sweet Sixteen',
  'location': 'Detroit, MI',
  'team_one_rank': 1,
  'team_one': 'Purdue',
  'team_two_rank': 12,
  'team_two': 'McNeese State'},
 {'bracket': 'Midwest',
  'round': 'Sweet Sixteen',
  'location': 'Detroit, MI',
  'team_one_rank': 6,
  'team_one': 'South Carolina',
  'team_two_rank': 7,
  'team_two': 'Texas'},
 {'bracket': 'South',
  'round': 'Sweet Sixteen',
  'location': 'Dallas, TX',
  'team_one_rank': 1,
  'team_one': 'Houston',
  'team_two_rank': 5,
  'team_two': 'Wisconsin'},
 {'bracket': 'South',
  'round': 'Sweet Sixteen',
  'location': 'Dallas, TX',
  'team_one_rank': 6,
  'team_one': 'Texas Tech',
  'team_two_rank': 10,
  'team_two': 'Boise State'},
 {'bracket': 'West',
  'round': 'Sweet Sixteen',
  'location': 'Los Angeles, CA',
  'team_one_rank': 1,
  'team_one': 'North Carolina',
  'team_two_rank': 12,
  'team_two': 'Grand Canyon'},
 {'bracket': 'West',
  'round': 'Sweet Sixteen',
  'location': 'Los Angeles, CA',
  'team_one_rank': 11,
  'team_one': 'New Mexico',
  'team_two_rank': 7,
  'team_two': 'Dayton'}]

In [569]:
sweet_sixteen_data = pd.DataFrame(sweet_sixteen_data)
sweet_sixteen_data

,bracket,round,location,team_one_rank,team_one,team_two_rank,team_two
0,East,Sweet Sixteen,"Boston, MA",1,Connecticut,5,San Diego State
1,East,Sweet Sixteen,"Boston, MA",6,Brigham Young,7,Washington State
2,Midwest,Sweet Sixteen,"Detroit, MI",1,Purdue,12,McNeese State
3,Midwest,Sweet Sixteen,"Detroit, MI",6,South Carolina,7,Texas
4,South,Sweet Sixteen,"Dallas, TX",1,Houston,5,Wisconsin
5,South,Sweet Sixteen,"Dallas, TX",6,Texas Tech,10,Boise State
6,West,Sweet Sixteen,"Los Angeles, CA",1,North Carolina,12,Grand Canyon
7,West,Sweet Sixteen,"Los Angeles, CA",11,New Mexico,7,Dayton

In [570]:
data = sweet_sixteen_data.copy()

In [571]:
data = pd.get_dummies(data)

In [572]:
warnings.filterwarnings('ignore')

missing_cols = list(set(list(og_data.columns)) - set(list(data.columns)))
for c in missing_cols:
    data[c] = 0

In [573]:
additional_cols = list(set(list(data.columns)) - set(list(og_data.columns)))
additional_cols

[]

In [574]:
warnings.filterwarnings('ignore')

sweet_sixteen = loaded_model.predict(data)

In [575]:
data['team_one_wins'] = sweet_sixteen

In [576]:
for i in range(len(data)):
    if data.iloc[i]['team_one_wins']:
        print(sweet_sixteen_data.iloc[i]['team_one'])
    else:
        print(sweet_sixteen_data.iloc[i]['team_two'])

Connecticut
Brigham Young
Purdue
South Carolina
Houston
Texas Tech
North Carolina
New Mexico

## Elite Eight

In [577]:
elite_eight_data = []

add_team(elite_eight_data, 'East', 'Sweet Sixteen', 'Boston, MA', 1, 'Connecticut', 6, 'Brigham Young')

add_team(elite_eight_data, 'Midwest', 'Sweet Sixteen', 'Detroit, MI', 1, 'Purdue', 6, 'South Carolina')

add_team(elite_eight_data, 'South', 'Sweet Sixteen', 'Dallas, TX', 1, 'Houston', 6, 'Texas Tech')

add_team(elite_eight_data, 'West', 'Sweet Sixteen', 'Los Angeles, CA', 1, 'North Carolina', 11, 'New Mexico')

In [578]:
elite_eight_data

[{'bracket': 'East',
  'round': 'Sweet Sixteen',
  'location': 'Boston, MA',
  'team_one_rank': 1,
  'team_one': 'Connecticut',
  'team_two_rank': 6,
  'team_two': 'Brigham Young'},
 {'bracket': 'Midwest',
  'round': 'Sweet Sixteen',
  'location': 'Detroit, MI',
  'team_one_rank': 1,
  'team_one': 'Purdue',
  'team_two_rank': 6,
  'team_two': 'South Carolina'},
 {'bracket': 'South',
  'round': 'Sweet Sixteen',
  'location': 'Dallas, TX',
  'team_one_rank': 1,
  'team_one': 'Houston',
  'team_two_rank': 6,
  'team_two': 'Texas Tech'},
 {'bracket': 'West',
  'round': 'Sweet Sixteen',
  'location': 'Los Angeles, CA',
  'team_one_rank': 1,
  'team_one': 'North Carolina',
  'team_two_rank': 11,
  'team_two': 'New Mexico'}]

In [579]:
elite_eight_data = pd.DataFrame(elite_eight_data)
elite_eight_data

,bracket,round,location,team_one_rank,team_one,team_two_rank,team_two
0,East,Sweet Sixteen,"Boston, MA",1,Connecticut,6,Brigham Young
1,Midwest,Sweet Sixteen,"Detroit, MI",1,Purdue,6,South Carolina
2,South,Sweet Sixteen,"Dallas, TX",1,Houston,6,Texas Tech
3,West,Sweet Sixteen,"Los Angeles, CA",1,North Carolina,11,New Mexico

In [580]:
data = elite_eight_data.copy()

In [581]:
data = pd.get_dummies(data)

In [582]:
warnings.filterwarnings('ignore')

missing_cols = list(set(list(og_data.columns)) - set(list(data.columns)))
for c in missing_cols:
    data[c] = 0

In [583]:
additional_cols = list(set(list(data.columns)) - set(list(og_data.columns)))
additional_cols

[]

In [584]:
warnings.filterwarnings('ignore')

elite_eight = loaded_model.predict(data)

In [585]:
data['team_one_wins'] = elite_eight

In [586]:
for i in range(len(data)):
    if data.iloc[i]['team_one_wins']:
        print(elite_eight_data.iloc[i]['team_one'])
    else:
        print(elite_eight_data.iloc[i]['team_two'])

Connecticut
Purdue
Houston
North Carolina

## Final Four

In [587]:
final_four_data = []

add_team(final_four_data, 'National', 'Final Four', 'Glendale, AZ', 1, 'Connecticut', 1, 'North Carolina')

add_team(final_four_data, 'National', 'Final Four', 'Glendale, AZ', 1, 'Houston', 1, 'Purdue')

In [588]:
final_four_data

[{'bracket': 'National',
  'round': 'Final Four',
  'location': 'Glendale, AZ',
  'team_one_rank': 1,
  'team_one': 'Connecticut',
  'team_two_rank': 1,
  'team_two': 'North Carolina'},
 {'bracket': 'National',
  'round': 'Final Four',
  'location': 'Glendale, AZ',
  'team_one_rank': 1,
  'team_one': 'Houston',
  'team_two_rank': 1,
  'team_two': 'Purdue'}]

In [589]:
final_four_data = pd.DataFrame(final_four_data)
final_four_data

,bracket,round,location,team_one_rank,team_one,team_two_rank,team_two
0,National,Final Four,"Glendale, AZ",1,Connecticut,1,North Carolina
1,National,Final Four,"Glendale, AZ",1,Houston,1,Purdue

In [590]:
data = final_four_data.copy()

In [591]:
data = pd.get_dummies(data)

In [592]:
warnings.filterwarnings('ignore')

missing_cols = list(set(list(og_data.columns)) - set(list(data.columns)))
for c in missing_cols:
    data[c] = 0

In [593]:
additional_cols = list(set(list(data.columns)) - set(list(og_data.columns)))
additional_cols

[]

In [594]:
warnings.filterwarnings('ignore')

elite_eight = loaded_model.predict(data)

In [595]:
data['team_one_wins'] = elite_eight

In [596]:
for i in range(len(data)):
    if data.iloc[i]['team_one_wins']:
        print(elite_eight_data.iloc[i]['team_one'])
    else:
        print(elite_eight_data.iloc[i]['team_two'])

Connecticut
Purdue

## National Championship

In [598]:
champ_data = []

add_team(champ_data, 'National', 'National Championship', 'Glendale, AZ', 1, 'Connecticut', 1, 'Purdue')

In [599]:
champ_data

[{'bracket': 'National',
  'round': 'National Championship',
  'location': 'Glendale, AZ',
  'team_one_rank': 1,
  'team_one': 'Connecticut',
  'team_two_rank': 1,
  'team_two': 'Purdue'}]

In [600]:
champ_data = pd.DataFrame(champ_data)
champ_data

,bracket,round,location,team_one_rank,team_one,team_two_rank,team_two
0,National,National Championship,"Glendale, AZ",1,Connecticut,1,Purdue

In [601]:
data = champ_data.copy()

In [602]:
data = pd.get_dummies(data)

In [603]:
warnings.filterwarnings('ignore')

missing_cols = list(set(list(og_data.columns)) - set(list(data.columns)))
for c in missing_cols:
    data[c] = 0

In [604]:
additional_cols = list(set(list(data.columns)) - set(list(og_data.columns)))
additional_cols

[]

In [605]:
warnings.filterwarnings('ignore')

champ = loaded_model.predict(data)

In [606]:
data['team_one_wins'] = champ

In [607]:
for i in range(len(data)):
    if data.iloc[i]['team_one_wins']:
        print(champ_data.iloc[i]['team_one'])
    else:
        print(champ_data.iloc[i]['team_two'])

Connecticut